TELEGRAM_API_ID=0
TELEGRAM_API_HASH=
GOOGLE_AUTH_CLIENT_ID=
GOOGLE_SAFETYNET_KEY=
GOOGLE_MAPS_API_KEY=
HUAWEI_APP_ID=
NIMARKO_UPDATE_ENDPOINT=
NIMARKO_MEDIA_API_URL=
NIMARKO_API_BASE_URL=
NIMARKO_BANNER_API_URL=
NIMARKO_BANNER_PLACEHOLDER_URL=
NIMARKO_INFOCARD_RATES_URL=
NIMARKO_ASIA_RELAY_HOST=
NIMARKO_SUPPORT_URL=
NIMARKO_TRUSTED_PLUGIN_IDS=
RELEASE_STORE_FILE=
RELEASE_STORE_PASSWORD=
RELEASE_KEY_ALIAS=
RELEASE_KEY_PASSWORD=
